{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h2>Registered Users</h2>
        <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item mb-2">
                    <strong>Username:</strong> {{ user.username }}
                    <br>
                    <strong>Email:</strong> {{ user.email }}
                    <br>
                    <strong>First Name:</strong> {{ user.first_name }}
                    <br>
                    <strong>Last Name:</strong> {{ user.last_name }}
                    <br>
                    <strong>Staff:</strong> {{ user.is_staff }}
                    <br>
                    <strong>Active:</strong> {{ user.is_active }}
                    <br>
                    <strong>Date Joined:</strong> {{ user.date_joined }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
